[Desktop Entry]
Name=Start Winterhill
Comment=Displays 4 VLCs on the RPi HDMI Screen
Icon=/usr/share/pixmaps/openbox.png
Exec=<HOME>/winterhill/startup.sh
Type=Application
Encoding=UTF-8
Terminal=true
StartupNotify=false
Categories=None
X-KeepTerminal=true
